@model Project.ViewModels.FindModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Tripadvisor: прочтите отзывы, сравните цены и забронируйте</title>
</head>
<body>
    <div class="header header-account">
        <div class="header-login">
            <div class="wrapper">
                <div class="conteiner">
                    <a href="/" style="display: block; float: left; margin-top: 0; margin-left: 0; margin-top: -5px;">
                        <img src="~/img/TRIP-2.png" alt="" class="logo">
                    </a>

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Account" asp-action="Login" class="nav_1">Вход</a>
                        <a asp-controller="Account" asp-action="Register" class="nav_1" style="width:110px;">Регистрация</a>
                    }
                    else
                    {
                        <a href=@ViewBag.hrefUserProfile class="nav_1 nav_1-1" style="display: block; margin-top: -0px;">
                            <img src="data:image/jpeg;base64, @(Convert.ToBase64String(ViewBag.photoProfile.image))" alt="" class="img-enter">
                        </a>
                        <a href=@Url.Action("Index", "Review") class="nav_2">Написать отзыв</a>
                    }
                </div>
            </div>
        </div>
    </div>


    <div class="content content-accaunt-2">
        <div class="wrapper-accaunt-content">
            <div class="title">
                <span>@ViewBag.landmark.name</span>
            </div>
            <div class="rating rating-2">
                <div class="rating_value rating_value-hidden">@ViewBag.landmark.rating</div>
                <div class="rating_body">
                    <div class="rating_active"></div>
                    <div class="rating_items">
                        <input type="radio" class="rating_item" value="1" name="rating">
                        <input type="radio" class="rating_item" value="2" name="rating">
                        <input type="radio" class="rating_item" value="3" name="rating">
                        <input type="radio" class="rating_item" value="4" name="rating">
                        <input type="radio" class="rating_item" value="5" name="rating">
                    </div>
                </div>
                <div style="font-size: 14px; width: 100px; font-weight: bold; margin-left: 5px;">@ViewBag.landmark.reviews.Count отзывов</div>
            </div>
            <div class="information">
                <p>Информация</p>
                <div class="text-info">Предположительная<br>продолжительность</div>
                <div class="time">1–2 часа</div>
            </div>


            <!--image slider start-->
            <div class="sim-slider">
                <ul class="sim-slider-list">
                    <li><img src="data:image/jpeg;base64, @(Convert.ToBase64String(ViewBag.scenePhoto.image))" alt="screen" width="720"></li>    <!-- это экран -->
                    <!--Загружать фото 1280*720-->
                    @foreach (var landmarkPhoto in ViewBag.landmarkPhotos)
                    {
                        <li class="sim-slider-element">
                            <img src="data:image/jpeg;base64, @(Convert.ToBase64String(landmarkPhoto.image))" alt="N" width="720" height="405">
                        </li>
                    }
                </ul>
                <div class="sim-slider-arrow-left" style="background-image: url(data:image/jpeg;base64,@(Convert.ToBase64String(ViewBag.sliderArrowLeft.image)));"></div>
                <div class="sim-slider-arrow-right" style="background-image: url(data:image/jpeg;base64,@(Convert.ToBase64String(ViewBag.sliderArrowRight.image)));"></div>
                <div class="sim-slider-dots"></div>
            </div>
            <!--image slider end-->
            <div class="clearfix"></div>

            <div class="send-photo">
                <p>Отправить</p>
                <a href=@Html.Raw(Url.Action("Review", "Review", new { type = "Landmark", id = ViewBag.landmark.id })) class="send-btn">Написать отзыв</a>
                <a href="#popup0" class="send-btn send-btn-2">Загрузить фотографию</a>
            </div>
            <div class="clearfix"></div>

            <!--rating-->
            <form method="post" asp-controller="Landmark" asp-action="Index">
                <div class="rating-conteiner">
                    <div class="ratings-wrapper">
                        <div class="rating">
                            <div class="rating_value">@Math.Round(ViewBag.landmark.rating, 1)</div>
                            <div class="rating_body">
                                <div class="rating_active"></div>
                                <div class="rating_items">
                                    <input type="radio" class="rating_item" value="1" name="rating">
                                    <input type="radio" class="rating_item" value="2" name="rating">
                                    <input type="radio" class="rating_item" value="3" name="rating">
                                    <input type="radio" class="rating_item" value="4" name="rating">
                                    <input type="radio" class="rating_item" value="5" name="rating">
                                </div>
                            </div>
                        </div>

                        <div class="rating rating-2">
                            <input type="checkbox" asp-for="CheckboxrRating5">
                            <div style="font-size: 14px; width: 100px; font-weight: bold; margin-left: 5px;">Отлично</div>
                            <div class="rating_value rating_value-hidden">5</div>
                            <div class="rating_body">
                                <div class="rating_active"></div>
                                <div class="rating_items">
                                    <input type="radio" class="rating_item" value="1" name="rating">
                                    <input type="radio" class="rating_item" value="2" name="rating">
                                    <input type="radio" class="rating_item" value="3" name="rating">
                                    <input type="radio" class="rating_item" value="4" name="rating">
                                    <input type="radio" class="rating_item" value="5" name="rating">
                                </div>
                            </div>
                        </div>
                        <div class="rating rating-2">
                            <input type="checkbox" asp-for="CheckboxrRating4">
                            <div style="font-size: 14px; width: 100px; font-weight: bold; margin-left: 5px;">Очень хорошо</div>
                            <div class="rating_value rating_value-hidden">4</div>
                            <div class="rating_body">
                                <div class="rating_active"></div>
                                <div class="rating_items">
                                    <input type="radio" class="rating_item" value="1" name="rating">
                                    <input type="radio" class="rating_item" value="2" name="rating">
                                    <input type="radio" class="rating_item" value="3" name="rating">
                                    <input type="radio" class="rating_item" value="4" name="rating">
                                    <input type="radio" class="rating_item" value="5" name="rating">
                                </div>
                            </div>
                        </div>
                        <div class="rating rating-2">
                            <input type="checkbox" asp-for="CheckboxrRating3">
                            <div style="font-size: 14px; width: 100px; font-weight: bold; margin-left: 5px;">Неплохо</div>
                            <div class="rating_value rating_value-hidden">3</div>
                            <div class="rating_body">
                                <div class="rating_active"></div>
                                <div class="rating_items">
                                    <input type="radio" class="rating_item" value="1" name="rating">
                                    <input type="radio" class="rating_item" value="2" name="rating">
                                    <input tpye="radio" class="rating_item" value="3" name="rating" style="width:20px;">
                                    <input type="radio" class="rating_item" value="4" name="rating">
                                    <input type="radio" class="rating_item" value="5" name="rating">
                                </div>
                            </div>
                        </div>
                        <div class="rating rating-2">
                            <input type="checkbox" asp-for="CheckboxrRating2">
                            <div style="font-size: 14px; width: 100px; font-weight: bold; margin-left: 5px;">Плохо</div>
                            <div class="rating_value rating_value-hidden">2</div>
                            <div class="rating_body">
                                <div class="rating_active"></div>
                                <div class="rating_items">
                                    <input type="radio" class="rating_item" value="1" name="rating">
                                    <input type="radio" class="rating_item" value="2" name="rating">
                                    <input type="radio" class="rating_item" value="3" name="rating">
                                    <input type="radio" class="rating_item" value="4" name="rating">
                                    <input type="radio" class="rating_item" value="5" name="rating">
                                </div>
                            </div>
                        </div>
                        <div class="rating rating-2">
                            <input type="checkbox" asp-for="CheckboxrRating1">
                            <div style="font-size: 14px; width: 100px; font-weight: bold; margin-left: 5px;">Ужасно</div>
                            <div class="rating_value rating_value-hidden">1</div>
                            <div class="rating_body">
                                <div class="rating_active"></div>
                                <div class="rating_items">
                                    <input type="radio" class="rating_item" value="1" name="rating">
                                    <input type="radio" class="rating_item" value="2" name="rating">
                                    <input type="radio" class="rating_item" value="3" name="rating">
                                    <input type="radio" class="rating_item" value="4" name="rating">
                                    <input type="radio" class="rating_item" value="5" name="rating">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="type-visited">
                        <p class="period-type">Период</p>
                        <div>
                            <label asp-for="CheckboxDate1" class="float-div"></label>
                            <input asp-for="CheckboxDate1" />
                            <span asp-validation-for="CheckboxDate1"></span>
                        </div>
                        <div>
                            <label asp-for="CheckboxDate2" class="float-div"></label>
                            <input asp-for="CheckboxDate2" />
                            <span asp-validation-for="CheckboxDate2"></span>
                        </div>
                        <div>
                            <label asp-for="CheckboxDate3" class="float-div"></label>
                            <input asp-for="CheckboxDate3" />
                            <span asp-validation-for="CheckboxDate3"></span>
                        </div>
                        <div>
                            <label asp-for="CheckboxDate4" class="float-div"></label>
                            <input asp-for="CheckboxDate4" />
                            <span asp-validation-for="CheckboxDate4"></span>
                        </div>
                    </div>
                    <input type="text" name="textField" class="text-search" placeholder="Поиск отзывов..">
                    <input type="hidden" name="Id" value="@ViewBag.landmark.id" />
                    <input type="submit" value="Готово" class="well-done-btn">
                </div>
            </form>
            <!--end rating-->
            <!--message-->
            <div class="message-conteiner message-conteiner-margin">
                @foreach (var review in ViewBag.reviews)
                {
                    <div class="message message-width">
                        <a href=@Url.Action("Index", "Account", new { userId = review.user.Id })>
                            <img src="data:image/jpeg;base64, @(Convert.ToBase64String(review.user.profile.mainPhoto.image))" alt="">
                        </a>
                        <span class="name">@review.user.profile.name @review.user.profile.lastName</span>
                        <span class="write">написал(а) отзыв</span>
                        <p class="date">@review.created</p>
                        <div class="rating rating-2" style="clear: both; padding-top: 8px;">
                            <div class="rating_value rating_value-hidden">@review.rating</div>
                            <div class="rating_body">
                                <div class="rating_active"></div>
                                <div class="rating_items">
                                    <input type="radio" class="rating_item" value="1" name="rating">
                                    <input type="radio" class="rating_item" value="2" name="rating">
                                    <input type="radio" class="rating_item" value="3" name="rating">
                                    <input type="radio" class="rating_item" value="4" name="rating">
                                    <input type="radio" class="rating_item" value="5" name="rating">
                                </div>
                            </div>
                        </div>
                        <a href="#" class="message-place">@review.header</a>
                        <p class="message-message">@review.description</p>

                        @if (review.photos.Count > 0)
                        {
                            <div class="photo-adder">
                                @foreach (var image in review.photos)
                                {
                                    <div class="img_preview">
                                        <img src="data:image/jpeg;base64, @(Convert.ToBase64String(image.image))">
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
            <!--end massage-->
        </div>
    </div>
    <div class="footer"></div>

    <div id="popup0" class="popup">
        <a href="#" class="popup_area"></a>
        <div class="popup_body">
            <div class="popup_content">
                <a href="#" class="popup_close">X</a>
                <div class="popup_title popup_title-accaunt">Выберите фото на обложку</div>
                <div class="popup_text">
                    <form method="post" asp-controller="Landmark" asp-action="AddPhoto" enctype="multipart/form-data">
                        <input type="file" name="photo" multiple>
                        <input type="hidden" name="landmarkId" value="@ViewBag.landmark.id" />
                        <input type="submit" value="Подтвердить"></p>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <script src="~/js/script.js"></script>
    <script>new Sim()</script>
    <script src="~/js/script2.js"></script>
</body>
</html>