<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Tripadvisor: прочтите отзывы, сравните цены и забронируйте</title>
    <script src="~/js/site2.js"></script>
</head>
<body>
    <div class="header header-account">
        <div class="header-login">
            <div class="wrapper">
                <div class="conteiner">
                    <a href="/" style="display: block; float: left; margin-top: 0; margin-left: 0; margin-top: -5px;">
                        <img src="~/img/TRIP-2.png" alt="" class="logo">
                    </a>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Account" asp-action="Login" class="nav_1">Вход</a>
                        <a asp-controller="Account" asp-action="Register" class="nav_1" style="width:110px;">Регистрация</a>
                    }
                    else
                    {
                        <a href=@ViewBag.hrefUserProfile class="nav_1 nav_1-1" style="display: block; margin-top: -0px;">
                            <img src="data:image/jpeg;base64, @(Convert.ToBase64String(ViewBag.photoProfile.image))" alt="" class="img-enter">
                        </a>
                        <a href="#" class="nav_2">Опубликовать</a>
                    }
                </div>
            </div>
        </div>
    </div>


    <div class="content">
        <div class="wrapper">
            <div class="title">
                <h1>Откройте для себя направление</h1>
                <h1><span>@ViewBag.name</span></h1>
            </div>
            <div class="photo-direction">
                <img src="data:image/jpeg;base64, @(Convert.ToBase64String(@ViewBag.galleryPhotos[0].image))" alt="" width="600" class="photo-float" height="400">
                <div class="photo-direction-conteiner">
                    <img src="data:image/jpeg;base64, @(Convert.ToBase64String(@ViewBag.galleryPhotos[1].image))" alt="">
                    <img src="data:image/jpeg;base64, @(Convert.ToBase64String(@ViewBag.galleryPhotos[2].image))" alt="">
                </div>
            </div>

            <div class="title-description">
                <div class="title-conteiner">
                    <p>@ViewBag.shortDescription</p>
                </div>
                <div class="title-conteiner title-conteiner2">
                    <span>@ViewBag.description</span>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="most-interesting">
                <h1>@ViewBag.name: самое интересное</h1>
                <div class="conteiner-p">
                    <p>
                        <span>Увидеть интересное</span><br>
                        @ViewBag.name: места, которые необходимо увидеть, маршруты, которыми стоит пройти, и фирменные развлечения.
                    </p>
                </div>

                <div class="block-1 slider middle">
                    @if (@ViewBag.landmarks.ToArray().Length > 3)
                    {
                        <a class="prev" onclick="minusSlidesDirectionOne(1)">&#10094;</a>
                    }

                    @foreach (var landmark in @ViewBag.landmarks)
                    {
                        <div class="photo-block slides direction-slides-1">
                            <div class="content-photo">
                                <a href=@Url.Action("Index", "Landmark", new { id = landmark.id }) class="slide">
                                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(landmark.mainPhoto.image))" alt="" width="250" height="179">
                                </a>
                                <p class="paragraf">@landmark.name</p>
                                <div class="message-rating-direction message-rating">
                                    @for (int i = 0; i < Math.Round(landmark.rating); ++i)
                                    {
                                        <div class="message-rating-green"></div>
                                    }

                                    @for (int i = 0; i < 5 - Math.Round(landmark.rating); ++i)
                                    {
                                        <div class="message-rating-white"></div>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                    @if (@ViewBag.landmarks.ToArray().Length > 3)
                    {
                        <a class="next" onclick="plusSlidesDirectionOne(1)">&#10095;</a>
                    }
                </div>
            </div>
            <div class="most-interesting">
                <h1>Отдохнуть</h1>
                <div class="conteiner-p">
                    <p>
                        <span>Увидеть интересное</span><br>
                        Сочетание очаровательного, легендарного и современного.
                    </p>
                </div>

                <div class="block-1 slider middle">
                    @if (@ViewBag.hotel.ToArray().Length > 3)
                    {
                        <a class="prev" onclick="minusSlidesDirectionTwo(1)">&#10094;</a>
                    }

                    @foreach (var hotel in @ViewBag.hotel)
                    {
                        <div class="photo-block slides direction-slides-2">
                            <div class="content-photo">
                                <a href=@Url.Action("Index", "Hotel", new { id = hotel.id }) class="slide">
                                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(hotel.mainPhoto.image))" alt="" width="250" height="179">
                                </a>
                                <p class="paragraf">@hotel.name</p>
                                <div class="message-rating-direction message-rating">
                                    @for (int i = 0; i < Math.Round(hotel.rating); ++i)
                                    {
                                        <div class="message-rating-green"></div>
                                    }

                                    @for (int i = 0; i < 5 - Math.Round(hotel.rating); ++i)
                                    {
                                        <div class="message-rating-white"></div>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                    @if (@ViewBag.hotel.ToArray().Length > 3)
                    {
                        <a class="next" onclick="plusSlidesDirectionTwo(1)">&#10095;</a>
                    }
                </div>
            </div>
            <div class="most-interesting">
                <h1>Поесть</h1>
                <div class="conteiner-p">
                    <p>
                        <span>Увидеть интересное</span><br>
                        @ViewBag.name: лучшие рестораны, бары и многое другое.
                    </p>
                </div>

                <div class="block-1 slider middle">
                    @if (@ViewBag.restaurant.ToArray().Length > 3)
                    {
                        <a class="prev" onclick="minusSlidesDirectionThree(1)">&#10094;</a>
                    }

                    @foreach (var restaurant in @ViewBag.restaurant)
                    {
                        <div class="photo-block slides direction-slides-3">
                            <div class="content-photo">
                                <a href=@Url.Action("Index", "Restaurant", new { id = restaurant.id }) class="slide">
                                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(restaurant.mainPhoto.image))" alt="" width="250" height="179">
                                </a>
                                <p class="paragraf">@restaurant.name</p>
                                <div class="message-rating-direction message-rating">
                                    @for (int i = 0; i < Math.Round(restaurant.rating); ++i)
                                    {
                                        <div class="message-rating-green"></div>
                                    }

                                    @for (int i = 0; i < 5 - Math.Round(restaurant.rating); ++i)
                                    {
                                        <div class="message-rating-white"></div>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                    @if (@ViewBag.restaurant.ToArray().Length > 3)
                    {
                        <a class="next" onclick="plusSlidesDirectionThree(1)">&#10095;</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>


    <div id="popup" class="popup">
        <a href="#" class="popup_area"></a>
        <div class="popup_body">
            <div class="popup_content">
                <a href="#" class="popup_close">X</a>
                <form method="post" action="">
                    <img src="img/Tripadvisor-logo.png" width="90">
                    <p>Войдите в систему, чтобы открыть все возможности Tripadvisor.</p>
                    <label>Логин:</label><br />
                    <input type="text" name="login" /><br />
                    <label>Пароль:</label><br />
                    <input type="password" name="password" /><br />
                    <input type="submit" value="Войти" formaction="~/Home/Login" class="enter" />
                    <a href="#popup2" class="registration">Зарегистрироваться</a>
                </form>

            </div>
        </div>
    </div>

    <div id="popup2" class="popup">
        <a href="#" class="popup_area"></a>
        <div class="popup_body">
            <div class="popup_content">
                <a href="#" class="popup_close">X</a>
                <form method="post" action="">
                    <img src="img/Tripadvisor-logo.png" width="90">
                    <p>Зерегестрируйтесь в системе, чтобы открыть все возможности Tripadvisor.</p>
                    <input type="text" name="login" placeholder="Придумайте логин:" /><br />
                    <input type="password" name="password" placeholder="Придумайте пароль:" /><br />
                    <input type="submit" value="Зарегистрироваться" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>