@model Project.ViewModels.LoginViewModel

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/site.js"></script>
</head>
<body>
    <div class="header">
        <div class="header-login">
            <div class="wrapper wrapper-enter">
                <div class="conteiner">
                    <img src="data:image/jpeg;base64, @(Convert.ToBase64String(@ViewBag.defaultSityImage.image))" alt="" class="logo">
                </div>

                <div class="places-place">
                    <div class="place-image">
                        <img src="data:image/jpeg;base64, @(Convert.ToBase64String(@ViewBag.defaultLoginImage.image))" alt="">
                    </div>

                    <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
                        <h1 style="position: relative; top: 30px; left: 20px; font-size: 40px;">С возвращением!</h1>
                        <div class="form-publish">
                            <div asp-validation-summary="ModelOnly"></div>
                            <h4>Ваш логин</h4>
                            <div>
                                <input asp-for="Email" placeholder="Здесь обычно пишут логин" required />
                                <span asp-validation-for="Email"></span>
                            </div>
                            <h4>Ваш пароль</h4>
                            <div>
                                <input asp-for="Password" placeholder="А здесь пароль" required />
                                <span asp-validation-for="Password"></span>
                            </div>
                            <h4>Запомнить?</h4>
                            <div>
                                <input asp-for="RememberMe" style="width: 20px; height: 20px; border: 1px solid lightgray; color: #505050;" />
                            </div>

                            <input type="submit" value="Войти" class="send-publish">
                            <a href=@Url.Action("Register", "Account") class="send-publish send-publish-a">Регистрация</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="content">
        <div class="wrapper">

        </div>
    </div>
    <div class="footer"></div>
</body>
</html>